.flex {
	display: flex;
}

.margin-auto {
	margin: auto;
}

.margin-bottom-auto {
	margin-bottom: auto;
}

.margin-left-auto {
	margin-left: auto;
}

.margin-right-auto {
	margin-right: auto;
}

.margin-top-auto {
	margin-top: auto;
}
