### yarn ###

node_modules
.yarn/*
.pnp.*

### examples ###
examples/**/__generated__/*
examples/**/modules/baeta-*/*
examples/**/modules/*/typedef.ts
examples/**/modules/autoload.ts

### build ###
dist
website/.docusaurus
website/build


### misc ###
.changeset/**/*.md