.snippetDescription {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
}

@media screen and (min-width: 997px) {
	.first {
		order: 1;
	}

	.second {
		order: 2;
	}
}
